.footer {
  width: 100%;
  border-top: 4px solid #f03030;
  &-line {
    margin: 40px 0;
    @include respond(phone) {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &__heading {
    font-size: 1.5rem;
    color: $textColor;
    font-weight: 500;
  }
  &-list {
    list-style: none;
  }
  &-item {
    padding: 4px 0;
    &__link {
      text-decoration: none;
      font-size: 1.4rem;
      color: $bgFilter;
      font-weight: 400;
      &-icon {
        margin-right: 5px;
        font-size: 2rem;
        color: #2929e4;
      }
    }
  }
  &__download {
    display: flex;
    align-items: center;
    justify-content: center;
    &-img {
      width: 87px;
      object-fit: contain;
      border: 1px solid #eee;
    }
    &-apps {
      height: 87px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &-img {
        min-height: 2.5rem;
        margin-left: 8px;
      }
    }
  }
}
